<template>
    <div>
        <transition name="fade">
            <div class="create_modal sub_color" v-bind:class="{is_open : isModalActive}">
                <div>
                   <span class="create_modal_header">Create New Room!!</span>
                </div>
                <div>
                    <span>category</span>
                    <select name="category" v-model="roomCategory">
                        <option v-for="category in categories" :key="category.key" :value="category.name" >{{ category.name }}</option>
                    </select>
                </div>
                <div>
                    <span>capacity</span>
                    <input type="number" placeholder="capacity" max="10" v-model="roomCapacity">
                </div>
                <div>
                    <span>name</span>
                    <input type="text" placeholder="input room name" v-model="newRoomName">
                </div>
                <div>
                    <span>description</span>
                    <textarea v-model="roomDescription"></textarea>
                </div>
                <div class="room_create_btn">
                    <button class="btn btn-sm badge-pill " @click="RoomCreateHandler">create</button>
                    <button class="btn btn-sm badge-pill" @click="toggleModal">close</button>
                </div>
            </div>
        </transition>
        <RoomCreate></RoomCreate>
        <header class="sub_color">
            <div id="nav-drawer">
                <input id="nav-input" type="checkbox" class="nav-unshown">
                <label id="nav-open" for="nav-input"><span></span></label>
                <label class="nav-unshown" id="nav-close" for="nav-input"></label>
                <div id="nav-content"  class="main_color">
                    <div class="room-list">
                            <div class="rooms">
                                <p class="card-header rooms-title">
                                    Category List
                                </p>
                                <div class="card sub_color info_window">
                                    <transition name="fade">
                                        <div class="room_list">
                                            <a  v-for="category in categories" :key="category.key" class="card-text border-bottom"  @click="categoryChoice(category.name)">
                                                <span class="">
                                                <i class="" aria-hidden="true"></i>
                                                </span>
                                                {{ category.name }}
                                            </a>
                                        </div>
                                    </transition>
                                </div>
                                <p class="card-header rooms-title">
                                    Room List
                                </p>
                                <div class="card sub_color info_window">
                                    <transition name="fade">
                                        <div v-if="curCategory" class="room_list">
                                            <a v-for="room in excludedRooms" :key="room.key" class="card-text border-bottom"  @click="roomJoin(room)">
                                                <span class="">
                                                <i class="" aria-hidden="true"></i>
                                                </span>
                                                {{ room.name }}
                                            </a>
                                        </div>
                                    </transition>
                                </div>
                                <div>
                                    <button class="btn btn-sm badge-pill" @click="toggleModal">create new room</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="container">
                <h1 class="title">
                    PriScope
                </h1>
            </div>
            <div class="profile_container">
                <div>
                    <img :src="user.photoURL" class="user_image" v-if="user.displayName" >
                </div>
                <span> {{ user.displayName }} </span>
                <button class="btn btn-sm badge-pill" @click="doLogin" v-if="!user.displayName">login</button>
                <button class="btn btn-sm badge-pill" @click="doLogout" v-if="user.displayName">log out</button>
            </div>
        </header>
        <transition name="fade">
            <div class="grid-container" v-if="roomName">

                <div class="card data_window main_color">
                    <div class="badge-pill room-title">
                        <div>
                            <span>current room</span>
                            <div class="card room_info sub_color">
                                <div>
                                    <span>name</span>
                                    <h2 id="current-room" class=""><span class=""> {{ roomName }}</span></h2>
                                </div>
                                <div>
                                    <span>master</span>
                                    <h2 id="current-room" class=""><span class=""><img :src="roomMasterImg" class="user_image_login">  {{ roomMaster }}</span></h2>
                                </div>
                                <div>
                                    
                                    <span>discription</span>
                                    <h2 id="current-room" class=""><span class=""> {{ roomDescription }}</span></h2>
                                </div>
                                <div>
                                    <button class="btn btn-sm exit-button" @click="roomExit">exit</button>
                                </div>
                            </div>
                            <span>current video</span>
                            <div v-if="video.id" class="card room_info sub_color">
                                <div>
                                    <img :src="video.thumbnailUrl">
                                </div>
                                <div>
                                    <span>title</span>
                                    <h2><span>{{ video.title }}</span></h2>
                                </div>
                                <div>
                                    <span>channel</span>
                                    <h2>{{ video.channel }}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card video_window main_color">
                    <transition name="fade">
                        <div v-if="video.id" v-html="video.embededUrl"></div>
                    </transition>
                    <transition name="fade">
                        <div class="info_message" v-if="infoMessage">
                           {{ infoMessage }}
                        </div>
                    </transition>
                </div>

                <div class="card chat-window main_color">
                    <div class="chat-window-messages" ref="messages">
                        <transition-group class="chat-display" name="demo" tag="div" appear>
                            <div v-for="{ key, message,index,id,userName,userImage} in chat" :key="id" class="chat_box">
                                <img :src="userImage" class="user_image">
                                <i class="fas fa-caret-right"></i>
                                <div class="user_name">
                                    {{ userName }}
                                </div>
                                <div class="card shadow-sm badge-pill sub_color item-message">
                                    <span class="message"> {{ message }}</span>
                                </div>
                            </div>
                        </transition-group>
                    </div>
                    <div class="chat_message">
                        <input type="text" class="sendchat_area form-control" v-model="myMessage">
                        <div>
                            <button class="btn btn-sm sub_color badge-pill" @click="sendChatHandler(myMessage)">sendChat</button>
                            <button class="btn btn-sm sub_color badge-pill" @click="SetVideo(myMessage)">sendvideo</button>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>

 <script lang="ts">
    import {Component, Prop, Emit, Watch, Vue} from 'vue-property-decorator';
    import roomList from '@/components/RoomList.vue'; // @ is an alias to /src
    import RoomCreate from '@/components/RoomCreate.vue';
    // import chatWindow from '@/components/ChatWindow.vue'; // @ is an alias to /src
    import firebase,{ functions } from 'firebase';
    import Axios from 'axios';

    @Component({
    components: {
        RoomCreate,
    },
    })
    export default class RoomList extends Vue{
        layer:number=0;
        chat:Array<object> = [];
        categories:Array<object> = [];
        curCategory:string="";
        rooms:Array<any> = [];
        excludedRooms:Array<object> = [];
        roomName:string="";
        roomId:string = "";
        myName='myName';
        myMessage:string="";
        infoMessage:string="";
        newRoomName:string='';
        roomMaster:string='';
        roomMasterImg:string='';
        roomCapacity:number=0;
        roomDescription:string="";
        roomCategory:string="";
        videoId:string="";
        player:any={};
        isModalActive = false;
        user:any = {};
        video={
            id:"",
            type:"",
            height:0,
            width:0,
            title:"",
            description:"",
            thumbnailUrl:"",
            embededUrl:"",
            channel:"",
            isLive:""
        }

        mounted() : void {
            const ref_room = firebase.database().ref('rooms');

            ref_room.limitToLast(10).on('child_added', this.roomAdded)
            
            firebase.database().ref('categories').limitToLast(10).on("child_added",this.categoryIndicate)

            window.addEventListener('resize',this.SetYoutubeWindow,false)

            firebase.auth().onAuthStateChanged(user => {
                this.user = user ? user : {}
                console.log(user);
            })

            console.log(this.rooms);

            this.SetMasterRoom();
            // setTimeout(() => {
            //     console.log(this.rooms);
            // }, 100);
        }

        @Watch('roomId')
        onValueChange(newValue: string, oldValue: string): void {
            console.log("roomId changed")
            this.setInfoMessage("roomId is " + this.roomId);
        }
        
        setInfoMessage(argText:string) {
            this.infoMessage = argText;
            setTimeout(() => {
                this.infoMessage = "";
            }, 3000);
        }
        
        sendChatHandler(myMessage:string):void{
            if (!this.roomId)
            {
                console.log('roomId is not found');
                return;
            }
            firebase.database().ref('rooms/'+this.roomId+'/messages').push({
                userName:this.user.displayName,
                userImage:this.user.photoURL,
                message:myMessage,
            })
                console.log('chat was sent')
        }

        RoomCreateHandler():void{
            const pushKey:any = firebase.database().ref('rooms').push({
                name: this.newRoomName,
                capacity: this.roomCapacity,
                category: this.roomCategory,
                description: this.roomDescription,
                master: this.user.displayName,
                masterImage: this.user.photoURL
            }, () => {

            }).key;
        }

        categoryIndicate(snap:any):void{
            const categories = snap.val();
            this.categories.push({
                key: snap.key,
                name: categories.name
            })
            console.log(snap.name);
        }

        categoryChoice(argCategory:string):void {
            this.excludedRooms = [];
            this.curCategory = "";
            this.curCategory = argCategory;
            // console.log(this.curCategory);
            console.log(argCategory);
            firebase.database().ref('rooms').orderByChild('category').equalTo(argCategory).on("child_added",this.roomExclude);
        }

        roomExclude(snap:any):void{
            const excludedRooms = snap.val();
            this.excludedRooms.push({
                key: snap.key,
                name: excludedRooms.name,
                password: excludedRooms.password,
                master: excludedRooms.master,
                masterImage: excludedRooms.masterImage,
                description: excludedRooms.description
            })
            console.log(snap.name);
        }
        
        roomAdded(snap:any):void{
            console.log(snap.name);
            const room = snap.val();
            this.rooms.push({
                key: snap.key,
                name: room.name,
                category: room.category,
                password: room.password,
            })
            console.log(snap.name);
        }

        messageAdded(snap:any):void{
            const messageObj = snap.val();
            this.chat.push({
                id:this.chat.length,
                key: snap.key,
                message: messageObj.message,
                userName: messageObj.userName,
                userImage: messageObj.userImage
            })
            this.scrollBottom();
        }

        scrollBottom():void {
                  console.log("called scroll")

            this.$nextTick(() => {
                let container:any = this.$el.querySelector(".chat-display");
                // let tmp = chatWindow
                container.scrollTo(0, document.body.clientHeight)
            })
        }
        
        SetMasterRoom():void{
            console.log(this.rooms);

            firebase.database().ref('rooms').orderByChild('name').equalTo('root').on("child_added",this.SetMasterRoom2);
        }
        
        SetMasterRoom2(snap:any):void{
            const room = snap.val();
            let masterRoom = {
                key: snap.key,
                name: room.name,
                password: room.password,
                master: room.master,
                masterImage: room.masterImage,
                description: room.description
            };
            this.roomJoin(masterRoom);
        }

        roomJoin(room:any):void{
            if(this.roomId)
            {
                console.log('already joined room')
                return;
            }
            
            console.log(room);
            
            // 部屋に名前を追加
            firebase.database().ref('rooms/'+room.key+'/members').push({userName:this.myName});

            // keyを格納
            this.roomId = room.key;
            this.roomName = room.name;
            this.roomDescription = room.description;
            this.roomMaster = room.master;
            this.roomMasterImg = room.masterImage;
            const ref_video = firebase.database().ref('rooms/'+ this.roomId+'/video');
            ref_video.limitToLast(1).on('child_added', this.ChangeVideoInChat);
            const ref_message = firebase.database().ref('rooms/'+ this.roomId+'/messages');
            ref_message.limitToLast(20).on('child_added', this.messageAdded);

            console.log("room joined "+this.roomName);
            
        }

        roomExit():void{
            if(!this.roomId)
            {
                console.log("room not joined");
                return;
            }

            const ref = firebase.database().ref('rooms/'+this.roomId+'/members');
            ref.orderByChild('userName').equalTo(this.myName).once("child_added",function(snap:any){
                if(!snap.val())
                {
                    console.log("my name not exist in room");
                    return;
                }
                else
                {
                    console.log(snap.key);
                    ref.child(snap.key).remove();
                }
            });

            firebase.database().ref('rooms/'+ this.roomId+'/video').limitToLast(1).off('child_added',this.ChangeVideoInChat);

            firebase.database().ref('rooms/'+ this.roomId+'/messages').limitToLast(10).off('child_added',this.messageAdded);

            this.roomName = '';
            this.roomId = '';
            this.video.id = "";
            this.chat = [];
        }

        SetVideo(url:string):void{
            if (!this.roomId){return;}
            let isLive:boolean = false;
            let videoId:string = "";
            let webSight:string="";

            videoId = url.split('?v=')[1].split('&')[0];

            if (url.indexOf('youtube'))
            {
                Axios.get('https://www.googleapis.com/youtube/v3/videos?id='+videoId+'&key=AIzaSyA5huWvN_HMaR8JhSG_YVn3kDtwigNJsnw&fields=items(id,snippet(channelTitle,title,thumbnails),statistics)&part=snippet,contentDetails,statistics')
                .then((res)=>{
                    let video = res.data.items[0];
                    firebase.database().ref('rooms/'+this.roomId+'/video').push({
                        webSight:"youtube",
                        videoId:videoId,
                        isLive:true,
                        thumbnail:video.snippet.thumbnails.medium.url,
                        title:video.snippet.title,
                        // description:video.snippet.description,
                        channel:video.snippet.channelTitle
                    });
                    
                    return;
                });
            }

        }

        ChangeVideoInChat(snap:any):void{
            const video = snap.val();
            this.video.id = video.videoId;
            this.video.channel = video.channel;
            this.video.title = video.title;
            this.video.thumbnailUrl = video.thumbnail;
            console.log(this.video);

            if(video.type="youtube")
            {
                this.video.embededUrl = '<iframe class="video" width="100%" height="100%" src="' + 'https://www.youtube.com/embed/' + video.videoId + '?autoplay=1' + '" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>'
            }

            console.log("video set");
       }

        SetYoutubeWindow():void{
            
            // if (window.innerWidth>1080)
            // {
            //     document.getElementsByClassName('video')[0].setAttribute('width',"560");
            //     document.getElementsByClassName('video')[0].setAttribute('height',"315");
            //     return;
            // }

            // if (window.innerWidth<880)
            // {
            //     document.getElementsByClassName('video')[0].setAttribute('width',"320");
            //     document.getElementsByClassName('video')[0].setAttribute('height',"180");
            //     return;
            // }

            // document.getElementsByClassName('video')[0].setAttribute('width',(window.innerWidth - 560).toString());
            let height :number = Number(document.getElementsByClassName('video')[0].clientWidth)/1.78;
            
            document.getElementsByClassName('video')[0].setAttribute('height',height.toString());

            // console.log(document.getElementsByClassName('video')[0].clientWidth);
        }

        GetVideoData():void{
            Axios.get('https://www.googleapis.com/youtube/v3/videos?id=h8xMmyNkGrE&key=AIzaSyA5huWvN_HMaR8JhSG_YVn3kDtwigNJsnw&fields=items(id,snippet(channelTitle,title,thumbnails),statistics)&part=snippet,contentDetails,statistics')
            .then((res)=>{console.log(res)});
        }

        categoryExit():void{
            this.curCategory = "";
            this.excludedRooms = [];
        }

        toggleModal():void {
            this.isModalActive = !this.isModalActive;
        }

        doLogin() {
            const provider = new firebase.auth.TwitterAuthProvider()
            firebase.auth().signInWithPopup(provider)
        }

        doLogout() {
            firebase.auth().signOut()
            this.user = {};
            console.log(this.user);
        }

    }

</script>

<style>
    *{
        margin: 0;
    }
    *::-webkit-scrollbar {
    display: none;
  }

    body{
        background: #3C455C;
    }

    header {
        display: flex;
    }

    .container {
        margin-left: 0;
    }
    
    .title {
        color: rgb(255, 147, 39);
        font-size: 2rem;
        letter-spacing: 1.5px;
        margin: 1px;
        margin-left: 20px;
        font-family: "Comfortaa";
    }
    .profile_container{
        width: 300px;
        display: flex;
    }
    .profile_container > * {
        margin: auto 0 auto 12px;
    }
    .user_image{
        border-radius: 50%;
        margin-right: 12px;
        margin-left: 8px;
        width: 36px;
        height: 36px;
    }
    
    ul{
        list-style: none;
    }
    .card-text{
        display: block;
        transition: 0.3s;
        cursor: pointer;
    }
    .card-text:hover {
        opacity: 0.5;
    }

    .grid-container{
        display: grid;
        grid-template-areas: 
            /* "room-list chat-window"; */
            "data_window video_window chat-window";
        /* grid-template-columns: 200px 1fr; */
        grid-template-columns: 200px 1fr 250px;
        grid-template-rows: 600px;
        margin: 0px;
    }
    
    .data_window{
    }
    .room-list{
        grid-area: room-list;
    }
    
    .panel-heading{
        padding: 0.2em;
        font-size: 1em;
    }

    .panel-block{
        height: 25px;
        white-space: nowrap;
        overflow: hidden;
        font-size: 0.8em;
    }

    .rooms{
        margin-top: 10px;
        margin: 4px;
    }

    .info_window{
        padding: 1px;
        height: 250px;
        margin-bottom: 8px;
    }

    .info_window * {
        padding: 1px;
        margin-top: 4px;
    }
    
    .room_list {
        overflow-y: scroll;
        background-color: #72849a;
    }

    .rooms-title{
        padding: 0;
    }

    .rooms ul{
        padding-left: 5px;
        padding-bottom: 3px;
    }

    .rooms li{
        display: flex;
        justify-content: space-between;
    }

    .room_info{
        margin-bottom: 24px;
        height: 200px;
        padding: 4px;
    }
    
    .room_info  *{
        max-width: 100%;
        font-size: 0.7rem;
    }

    .video_window {
        min-width: 320px;
    }

    .chat-window{
        grid-area: chat-window;
        position: relative;
        flex-wrap: nowrap;
        flex-direction: unset;
        display: flex;
    }

    .video{
        position: absolute;
        max-height: 100%;
    }

    .info_message{
        position: absolute;
        background: white;
        right: 20px;
        top: 20px;
        width: 150px;
        height: 30px;
    }

    .video_input{
        height: 27px;
    }

    .chat-input{
        height: 160px;
    }

    .chat-window-messages{
        width: 100%;
        height: 550px;
    }

    .chat-display{
        position: absolute;
        height: 530px;
        overflow: scroll;
    }

    .chat_message {
        position: absolute;
        right: 0%;
        bottom: 0%;
        width: 100%;
    }

    .create_modal_header {
        font-size: 1.5rem;
        text-align: center;
    }

    .fa-caret-right {
        margin: auto 0;
    }
    
    .user_image_login {
        border-radius: 50%;
        width: 13%;
        height: 13%;
    }

    .chat_message > * {
        display: block;
    }


    .chat_message > button {
        margin-left: 100%;
        transform: translateX(-100%);
        display: inline-block;
    }


    .request_video_box{
        display: flex;
        position: absolute;
        right: 44px;
        bottom: 204px;
    }

    .chat_send_button{
        text-align: right;
        right: 10px;
    }

    .chat-window-messages::-webkit-scrollbar{
    display:none;
}

    .room-title{
        margin: 20px 4px;
        transition: 0.5s;
    }

    .room-title > div > span {
        color: rgb(255, 255, 255);
    }

    .exit-button{
        position: absolute;
        bottom: 8px;
        right: 8px;
    }

    #chat-input-window{
        min-width: 0;
        max-width: 90%;
        margin: 5px auto;
        resize: none;
    }
    .message{
        font-size: 70%
    }

    .message-name {
        display: flex;
        text-align: left;
        font-size: 75%;
    }

    .user_name {
        font-size: 0.1rem;
        position: absolute;
        left: 55px;
        top: -8px;
    }

    .item-message{
        display: inline-block;
        margin: 5px;
        margin-right: 30px;
        min-width: 150px;
        line-height: 27px;
        word-break:break-all;
        overflow: hidden;
        background: white;
        transition: 0.3s;
        z-index: 5;
        text-align: left;
        max-height: 30px;
    }

    .chat_message{
        text-align: right;
    }
    .chat_box{
        margin-bottom: 4px;
        position: relative;
        display: flex;
    }
    .sendchat_area{
        
    }

    .chat-input{
        /* position: absolute; */
        /* bottom: 30px; */

        min-width: 0%;
        width: 95%;
        margin: 50px auto;
    }

    .chat-input > input{
        width: 90%;
    }

    .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
    }

    .fade-enter, .fade-leave-to {
    opacity: 0;
    }

    .demo-enter-active, .demo-leave-active {
        transition: all 0.5s;
    }
    
    .demo-enter{
        opacity: 0;
        transform: translateX(30px);
    }

    .demo-leave-to{
        opacity: 0;
    }

    .sub_color {
        background-color: #3C455C;
        color: #fff;
    }
 
    .main_color {
        background-color: #7d9494;
    }

    .create_modal {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow-y: auto;
        visibility: hidden;
        opacity: 0;
        z-index: -1;
        height: 400px;
        width: 300px;
        margin: auto;
        transition: 0.5s;
        border-radius: 1%;
        padding: 4px;
    }
    .create_modal * {
        display: block;
    }
    .create_modal > * {
        margin: 12px;
    }
    .room_create_btn{
        display: flex;
        position: absolute;
        bottom: 0px;
        right: 0px;
    }
    .room_create_btn > button {
        margin: 4px;    
    }

    .is_open {
        visibility:visible;
        opacity: 1;
        z-index: 200;
    }

</style>

<style>

#nav-drawer {
  position: relative;
  margin:8px;
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}

/*アイコンのスペース*/
#nav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
  margin:auto;
}

/*ハンバーガーアイコンをCSSだけで表現*/
#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 3px;/*線の太さ*/
  width: 25px;/*長さ*/
  border-radius: 3px;
  background: rgb(255, 147, 39);
  display: block;
  content: '';
  cursor: pointer;
}

#nav-open span:before {
  bottom: -8px;
}
#nav-open span:after {
  bottom: -16px;
}

/*閉じる用の薄黒カバー*/
#nav-close {
  display: none;/*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;/*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}

/*中身*/
#nav-content {
    
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;/*最前面に*/
  width: 200px;/*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 330px;/*最大幅（調整してください）*/
  height: 100%;
  transition: .3s ease-in-out;/*滑らかに表示*/
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);/*左に隠しておく*/
}

/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block;/*カバーを表示*/
  opacity: .5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);/*中身を表示（右へスライド）*/
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}
</style>