<template>
</template>

<script lang="ts">

    import {Component, Prop, Emit, Watch, Vue} from 'vue-property-decorator';
    import firebase,{ functions } from 'firebase';
    import Axios from 'axios';

    @Component
    export default class RoomCreate extends Vue{

    }
</script>
