<template>
  <div class="chat-app">
    <div>
        <roomList />
    </div>
    <!-- <div>
    <chatWindow />
    </div> -->
  </div>
</template>

 <script lang="ts">
    import {Component, Prop, Emit, Watch, Vue} from 'vue-property-decorator';
    import roomList from '@/components/HelloWorld.vue'; // @ is an alias to /src
    // import chatWindow from '@/components/ChatWindow.vue'; // @ is an alias to /src
    
    @Component({
    components: {
        // roomList,chatWindow
        roomList
    },
    })
    export default class ChatApp extends Vue{
        user:object = {};
        chat:Array<string> = [];
        key:string='myKey';
        input:string='';
        mounted() : void {
            console.log('created');
        }

        beforeRouteEnter (to:any, from:any, next:any) {
        console.log('beforeRouteEnter')
        next() // needs to be called to confirm the navigation
        }
    }

</script>